:host {
    display: flex;
    flex-direction: column;

    .main {
        margin: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    app-flag {
        align-self: center;
        margin: 0px 8px;
        border: 1px solid var(--p-500);
        border-radius: 6px;
        overflow: hidden;
        width: 24px;
        cursor: pointer;
    }



}