<app-toolbar caption="Colors Quiz" icon="palette">
    <app-flag of="en" matTooltip="Change Language" 
        />
    <button mat-icon-button matTooltip="Reset Quiz"
        (click)="store.reset()">
        <mat-icon>restart_alt</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Generate New Quiz">
        <mat-icon>auto_fix_high</mat-icon>
    </button>
</app-toolbar>
<div class="main">
    @if(store.isDone()) {
        <app-done/>
    } @else {
        <app-progress [value]="store.currentQuestionIndex()"
            [max]="store.questionsCount()"/>
        <app-question-presenter/>
    }
</div>
