<div class="content">
    <div class="header">
        Colors Quiz
    </div>
    <div class="text">
        Welcome to the colors quiz. You will be presented with a series of questions. 
        In each question you will have to choose which color is the result of mixing the two or thress colors shown.
        But there's a catch, the colors are mixed in additive mode (light), so the result is not always the same as on paper.
        You will have to choose the correct color from the options given.
    </div>
    <button routerLink="/quiz">Let's play</button>
    
</div>
<div class="deco">
    <img src="images/banner.jpg" alt="banner" />
</div>

