:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
    color: var(--p-500);        
    font-size: 2vh;

    .header {
        font-size: 5em;
        font-family: fantasy ,'Courier New', Courier, monospace;
    }

    .text {
        max-width: 60%;
    }
    button {
        font-size: 1.5em;
        padding: 0.5em 1em;
        background-color: white;
        border: 0.2em solid var(--p-500);
        color: var(--p-500);
        cursor: pointer;
        &:hover {
            background-color: var(--p-500);
            color: white;
        }
    }
  }

  .deco {
    height: 40vh;
    display: flex;
    flex-direction: column;
    img {
      width: 100%;
      height: 80%;
      object-fit: cover;
    }
  }
}
